<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Internet SHOP</title>
    <link rel="stylesheet" href="../templates/css/shop-reset.css">
    <link rel="stylesheet" href="../templates/css/shop-main.css">
</head>
<body>
<header class="header">
    <div class="info-line">
        <div class="container">
            <menu class="menu-info">
                <li><a href="#">Головна</a></li>
                <li><a href="#">Товари</a></li>
                <li><a href="#">Про нас</a></li>
                <li><a href="#">Контакти</a></li>
            </menu>
        </div>
    </div>
    <div class="logo">
        <div class="container">
            <div class="logo__text">
                Stony Shop
            </div>
            <div class="logo__text2">
                Розумний вибір
            </div>
        </div>
    </div>
    <div class="info">
        <div class="container">
            <div class="block-border">
                <div class="catalog-text">
                    <div class="catalog-text-data">
                        <div class="menu-img">
                            <img src="../templates/img/menu-png.png">
                        </div>
                        <div class="catalog-text__text">
                            Каталог товарів
                        </div>
                    </div>
                </div>

                <div class="block-phone-info">
                    <div class="phone-info__text">
                        +380(68)263-83-88
                    </div>
                </div>

                <div class="block-search">
                    <form action="" method="post">
                        <input class="text-search" type="text" placeholder="Що ви хочете придбати ?">
                        <input class="button-search" type="submit" value="Знайти">
                    </form>

                </div>
            </div>
            <div class="block-basket">
                <div class="basket-data">
                    <img src="../templates/img/basket.png">
                    <div class="basket__text">
                        Кошик
                    </div>
                    <div class="basket__text__kol">
                        0
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
<div class="container">
    <section class="categoria">
        <div class="section-block-categoria">
            <menu class="menu-categoria">
                <li><a href="">Телефони<img alt="" class="arrow-right" src="../templates/img/arrow-right.png"></a></li>
                <li><a href="">Планшети<img alt="" class="arrow-right" src="../templates/img/arrow-right.png"></a></li>
                <li><a href="">Ноутбуки<img alt="" class="arrow-right" src="../templates/img/arrow-right.png"></a></li>
            </menu>
        </div>
    </section>
    <section class="block-items">
        <div class="section-block-items">
            <div class="section-block-items__text">
                Всі товари
                <hr>
            </div>
            <div class="items-block">
                <a class="info-item" href="#">
                    <div class="items">
                        <div class="items-img">
                            <img src="../Admin/templates/img/tov/1570972584asus_90nr01l3_m02530_images_12940351704.jpg">
                        </div>
                        <div class="items-name">
                            Asus ROG Strix G531GT-BQ132
                        </div>
                        <div class="items-price">
                            4999 грн
                        </div>
                        <div class="items-buy">
                            <button class="button-buy">Купити</button>
                        </div>
                    </div>
                </a>

                <a class="info-item" href="#">
                    <div class="items">
                        <div class="items-img">
                            <img src="../Admin/templates/img/tov/1570972584asus_90nr01l3_m02530_images_12940351704.jpg">
                        </div>
                        <div class="items-name">
                            Asus ROG Strix G531GT-BQ132
                        </div>
                        <div class="items-price">
                            4999 грн
                        </div>
                        <div class="items-buy">
                            <button class="button-buy">Купити</button>
                        </div>
                    </div>
                </a>

                <a class="info-item" href="#">
                    <div class="items">
                        <div class="items-img">
                            <img src="../Admin/templates/img/tov/1570972584asus_90nr01l3_m02530_images_12940351704.jpg">
                        </div>
                        <div class="items-name">
                            Asus ROG Strix G531GT-BQ132
                        </div>
                        <div class="items-price">
                            4999 грн
                        </div>
                        <div class="items-buy">
                            <button class="button-buy">Купити</button>
                        </div>
                    </div>
                </a>

                <a class="info-item" href="#">
                    <div class="items">
                        <div class="items-img">
                            <img src="../Admin/templates/img/tov/1570972584asus_90nr01l3_m02530_images_12940351704.jpg">
                        </div>
                        <div class="items-name">
                            Asus ROG Strix G531GT-BQ132
                        </div>
                        <div class="items-price">
                            4999 грн
                        </div>
                        <div class="items-buy">
                            <button class="button-buy">Купити</button>
                        </div>
                    </div>
                </a>

            </div>
        </div>
    </section>
</div>

<footer>
    <div class="container">
        <div class="footer-block-left">
            © 2019 Надежный интернет-магазин Stony Shop
        </div>
        <div class="footer-block-right">
            <img src="../templates/img/mastercard.jpg">
            <img src="../templates/img/visa.jpg">
            <div class="footer-block-right__text">
                Проєктування і дизайн - Антон Стащенко
            </div>
        </div>
    </div>
</footer>


</body>
</html>