<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin - Stony</title>
    <link rel="stylesheet" href="../templates/css/stony-reset.css">
    <link rel="stylesheet" href="../templates/css/stony-main.css">
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="container-header">
                <div class="admin-name">
                    <img class="icon" src="../templates/img/stony/icon.png" alt="icon">
                    <div class="admin-name__text">
                        Stony
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section class="left-menu">
        <div class="user">
            <div class="user-block">
                <img src="../templates/img/stony/no_avatar.jpg" alt="user">
                <div class="user-name">
                    Антон Стащенко
                    <hr>
                </div>
            </div>
        </div>
        <div class="menu-text">
            <img src="../templates/img/stony/list_bullet_icon_124933.png">
            <div class="menu-text__text">
                Меню:
            </div>
            <menu class="menu">
                <li><a href="#">Список товарів</a></li>
                <li><a href="#">Добавлення товару</a></li>
                <li><a href="#">Добавлення користувача</a></li>
            </menu>
        </div>
    </section>
    <section class="content">
        <div class="heading-block">
            <div class="heading-block__text">
                Головна <hr>
            </div>
            <div class="content-info">
                <div class="content-info__text">
                    Вітаємо Вас ! <br> Оберіть потрібну для Вас функцію з меню.
                </div>
            </div>
        </div>
    </section>
</body>
</html>